# Función map()

In [1]:
#Es similar a filter recibe una funcion, y entrega un iterable de tipo map
numeros = [2,5,10,23,50,33]

def doblar(numero):
    return numero * 2

map(doblar, numeros)

In [2]:
m = map(doblar, numeros)

In [3]:
next(m)

4

In [4]:
next(m)

10

In [5]:
m = map(doblar, numeros)
list(m)

[4, 10, 20, 46, 100, 66]

In [8]:
#Una lista apartir de un objeto map hecho atravez de un una funcion anonima
list( map(lambda x: x*2,numeros ))

[4, 10, 20, 46, 100, 66]

In [9]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

list(map(lambda x,y: x*y, a,b))

[6, 14, 24, 36, 50]

In [11]:
c = [11,12,13,14,15]

list(map(lambda x,y,z: x*y*z, a, b, c))

[66, 168, 312, 504, 750]

In [13]:
class Persona:
    
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
        
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)
    
personas = [
    Persona("Juana",35),
    Persona("Marta",16),
    Persona("Manuel",78),
    Persona("Eduardo",12)
]

In [14]:
def incrementar(persona):
    persona.edad += 1
    return persona

personas = map(incrementar, personas)

In [15]:
for persona in personas:print(persona)

Juana de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años

In [16]:
personas = [
    Persona("Juana",35),
    Persona("Marta",16),
    Persona("Manuel",78),
    Persona("Eduardo",12)
]
#Crea nuevamente la lista
personas = map( lambda persona: Persona(persona.nombre, persona.edad+1), personas)

In [17]:
for persona in personas:print(persona)

Juana de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años